import { html } from 'lit';
import { CrudConfigBuilder } from '@dile/crud/lib/CrudConfigBuilder';
import { ResponseApiAdapter } from '@dile/crud/lib/ResponseApiAdapter';
import '@dile/ui/components/pages/pages.js';
import '@dile/crud/components/action/crud-delete-action.js'
{{#each componentImports}}
import '{{this}}';
{{/each}}

class {{properPascalCase resource}}ResponseApiAdapter extends ResponseApiAdapter {
  getElementList() {
    return this.response.data.result.data;
  }
}

export const {{properCamelCase resource}}Config = new CrudConfigBuilder('{{endpoint}}', {
  responseAdapter: new {{properPascalCase resource}}ResponseApiAdapter(),
  templates: {
    {{#if itemComponent}}
    item: (item) => html`<{{itemComponent}} .item=${item}></{{itemComponent}}>` ,
    {{else}}
    item: (item) => html`${JSON.stringify(item)}`,
    {{/if}}
    {{#if insertComponent}}
    insertForm: () => html`<{{insertComponent}} id="insertform"></{{insertComponent}}>` ,
    {{else}}
    insertForm: () => html`Insert form template`,
    {{/if}}
    {{#if updateComponent}}
    updateForm: () => html`<{{updateComponent}} id="updateform"></{{updateComponent}}>` ,
    {{else}}
    updateForm: () => html`Update form template`,
    {{/if}}
    help: () => html`<p>{{properPascalCase resource}} help.</p>`,
    {{#if detailComponent}}
    detail: (item) => html`<{{detailComponent}} .item=${item}></{{detailComponent}}>` ,
    {{else}}
    detail: (item) => html`${JSON.stringify(item)}`,
    {{/if}}
    relations: null,
    formActions: (actionName, actionIds) => html`
        <dile-pages attrForSelected="action" selected="${actionName}">
            <dile-crud-delete-action action="DeleteAction"></dile-crud-delete-action>
        </dile-pages>
    `,
    formSingleActions: (actionName, item) => html`
        <dile-pages attrForSelected="action" selected="${actionName}">
            <dile-crud-delete-action action="DeleteAction"></dile-crud-delete-action>
        </dile-pages>
    `,
  },
  customization: {
    hideCountSummary: false,
    hideCheckboxSelection: true,
    disablePagination: false,
    disableHelp: true,
    disableKeywordSearch: false,
    disableSort: true,
    disableFilter: true,
  },
  sort: {
    options: [
      {
        name: 'created_at',
        label: 'Created',
        direction: 'desc'
      },
    ],
    initialSortField: 'created_at',
  },
  availableFilters: [
    {
      name: 'column',
      label: 'Column',
      active: false,
      value: false,
      type: 'boolean',
    },
    {
      name: 'column2',
      label: 'Column 2',
      active: false,
      value: false,
      type: 'select',
      options: [
        {
          value: '1',
          label: 'Value 1'
        },
        {
          value: '2',
          label: 'Value 2'
        },
      ]
    },
  ],
  actions: {
    list: [
      {
        label: 'Delete resorce',
        name: 'DeleteAction',
        destructive: true,
      },
    ],
    single: [
      {
        label: 'Delete resource',
        name: 'DeleteAction',
        destructive: true,
      },
    ],
  },
});